name: Build and Test

on:
  push:
    branches:
      - main   # Change this to the branch you want to trigger the workflow on
  pull_request:
    branches:
      - main   # Change this to the branch you want to trigger the workflow on

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3

    - name: Set up Java
      uses: actions/setup-java@v2
      
      with:
        java-version: 17

    - name: Build and test with Maven
      run: mvn clean test
